$Brightest_Violet : #E0D8FF;
$Bright_Violet : #7540F0;
$Violet : #301070;
$Dark_violet : #200050;
$Shade_violet : #100025;
$Orange : #FA7000;
$Yellow : #EECD00;
$Lime : #BBDD00;
$Dark_gray : #404040;
$Gray : #808080;
$Light_gray : #bcbcbc;