@import '../../style/variables/color';

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #af4444, $alpha: 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    &__content {
        position: relative;
        padding: 40px 80px;
        background-color: #fff;
        border-radius: 10px;
    }
    &__close {
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 30px;
        line-height: 22px;
    }
    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        text-align: center;
        color: $Bright_Violet;
        margin-bottom: 36px;
    }
}