@import '../../style/variables/color';

.header {
    height: 80px;
    background-image:  url('../../resources/img/main-img.png');
    background-color: $Dark_violet;
    background-position: top 0 right 0;
    background-repeat: no-repeat;
    &__shade {
        left: 0;
        top: 0;
        position: absolute;
        z-index: -1;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        padding-top: 24px;
        img {
            margin-left: 20px;
            cursor: pointer;
        }
    }
}

.main {
    background-image:url('../../resources/img/main-img.png');
    background-color: $Dark_violet;
    background-position: top -80px right 0;
    background-repeat: no-repeat;
    padding: 48px 0 50px;
}