@import '../../../style/variables/color'; 

.table {
    &__id {
        span {
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: $Lime;
        }
    }
    &__time {}
    &__radiant {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__dire {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}
